:root {
  --background-color: black;
  --foreground-color: white;
  --highlight-color: #ff9f43;
}

.App {
  /* left align everything in it */
  
  background-color: var(--background-color);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px;
  color: var(--foreground-color);
}

.search-bar {
  /* center it in the screen with padding on the left right top and bottom  */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 40px;
  padding-top: 68px;
  padding-bottom: 68px;
  margin-bottom: 20px;
  border-radius: 30px;
  /* background-color: var(--highlight-color); */
}

.App-title {
  font-size: 2em;
  /* margin-bottom: 20px; */
}

.header {
  color: var(--foreground-color);
}

.description {
  color: var(--foreground-color);
}

.result {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.result-box {
  margin-left: 15px;
}

.result-type {
  margin-right: 20px;
  font-weight: 700;
}

.results-data {
  margin-left: 15px;
  text-align: left;
}

.result-div {
  margin-left: 15px;
  text-align: left;
}

.result-button{
  background-color: #202b36;
  margin-left: 15px;
  border: none;
}

.result-button:hover {
  background-color: #202b36;
}

/* .result-div:hover {
  background-color: #b8c5d1;
} */

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
/*This is used for the homepage of the application*/
.no-query {
  /*set the text to be left-aligned with a left margin*/
  text-align: left;
  margin-left: 15px;
}

.header {
  font-weight: 800;
  font-size: 40px;
}

.description {
  font-weight: 500;
  font-size: 20px;
}

/*This is used for the search bar of the application*/

.search-bar {
  /*set the text to be left-aligned with a left margin*/
  text-align: left;
  margin-left: 20px;
}

.search-button {
  background-color: #dddedf;
  text-align: center;
  border: none;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  text-align: left;
  margin-top: calc(100vh - 85vh - 20px);
  background: #242e42;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}
 
.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  /* background: #ededed; */
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--background-color);
  /* align the text to the left with some padding */
  text-align: left;
  padding: 20px;
  /* set the text to be left-aligned with a left margin */
  margin-left: 20px;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.checkbox-grid {
  /*the grid has two rows, make them left align */
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr; */
  /* grid-gap: 10px; */
  /* grid-auto-flow: dense; */
  /* align the text to the left with some padding */
  text-align: center;
  margin-left: 20px;
  font-size: calc(10px + 2vmin);
  align-items: center;
}

.checkbox {
  /* padding-left: 20px;
  padding-right: 20px; */
  font-size: 400px;
}

.selections {
  /* center everything in the div */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.checkbox-row {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  text-align: center;
  padding:15px;
  grid-gap: 1px;
}
